#swipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100vw; /* Macht den Container so breit wie das Fenster */
    height: 80vh; /* Nutzt 80% der Höhe des Bildschirms */
    touch-action: pan-y; /* Verhindert, dass der Browser das Scrollen des Bildschirms blockiert */
    position: relative;
}

.ingredient-image {
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

/* Emoji-Overlay */
#emoji-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}

#emoji-overlay.show {
    opacity: 1;
}
